@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --color-one: #23d7aa;
  --color-two: #b300ff;
  --color-three: #3b8f00;
  --color-four: #E60576;
  --color-five: #5626C4;
  --color-six: #FB9039;
  --color-light:#FEFEFE;
  --color-dark: #43464B;
  /* #849531; */
  /* #FACD3D; */

  /* #4B9FE1#fa0df2; */
}

.body{
  overflow: visible;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.sqr{
  font-size: 42px;
  padding: 0 5px;
}
.player-title{
  font-size: 32px;
  padding:0 10px;
}

.player-title-active{
  font-size: 32px;
  padding:0 10px;
  color:white;
}
.color-one{
  color:var(--color-one)
}

.color-two{
  color:var(--color-two)
}

.color-three{
  color:var(--color-three)
}

.color-four{
  color:var(--color-four)
}

.color-five{
  color:var(--color-five)
}

.color-six{
  color:var(--color-six)
}

.p-5{
  padding:5px;
}
.p-10{
  padding:10px;
}

.p-lr-20{
  padding:0 20px;
}

.p-20{
  padding:20px;
}

.p-30{
  padding:30px;
}

.p-40{
  padding:40px;
}
.mb-10{
  margin-bottom: 10px;
}

.m-15{
  margin: 15px;
}

.mb-40{
  margin-bottom: 30px;
}


.answer{
  min-width: 70%;
  margin:10px auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-one{
  border: 10px solid var(--color-one);
}

.border-two{
  border: 10px solid var(--color-two);
}

.border-three{
  border: 10px solid var(--color-three);
}

.border-four{
  border: 10px solid var(--color-four);
}

.border-five{
  border: 10px solid var(--color-five);
}

.border-six{
  border: 10px solid var(--color-six);
}

.back-one{
  background-color: var(--color-one);
}

.back-two{
  background-color: var(--color-two);
}

.back-three{
  background-color: var(--color-three);
}

.back-four{
  background-color: var(--color-four);
}

.back-five{
  background-color: var(--color-five);
}

.back-six{
  background-color: var(--color-six);
}

.back-dark{
  background-color: var(--color-dark);
}

.back-white{
  background-color: white;
}

.border-bottom{
  border-bottom: 5px solid;
  background-color: white;
}

.arrow{
  color:#26a69a ;
  
}

.arrow:hover{
  cursor: pointer;
  color:var(--color-four);
}

.App {
  text-align: center;
  background-color:var(--color-light);
  font-family: 'Roboto', sans-serif;
}

.container{
  width:75%;
  margin:40px auto;
}

.correctModal{
  overflow: 'visible' !important;
  min-height: 80vh;
  overflow: 'visible' !important;
  background-color: hsla(111, 100%, 27%, 0.5);
  color: hsla(111, 100%, 27%, 1);
  top:-200;
  margin:auto;
  overflow: 'visible' !important;
}

.winnerModal{
  overflow: 'visible' !important;
  min-height: 80vh;
  background-color: hsla(293, 100%, 28%, 0.5);
  color: hsla(293, 100%, 28%, 1);
  top:-200;
  margin:auto;
}

.wrongModal{
  min-height: 80vh;
  overflow: 'visible' !important;
  background-color: hsla(360, 100%, 50%, 0.5);
  color: hsla(360, 100%, 50%, 1);
  margin:auto;
}

.mo{
  margin: 12.5% auto;
  width:75%;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.center-all{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.center-text{
  text-align: center;
  width:100%;
}

.half-height{
  min-height: 70vh;
}

.float-left{
  float:left;
}

.App-link {
  color: #61dafb;
}

/* .slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
0% {
-webkit-transform: translateY(100%);
transform: translateY(100%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}
@keyframes slideInUp {
0% {
-webkit-transform: translateY(100%);
transform: translateY(100%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}  */

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    }
    }
    
    @keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    }
    40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    }
    70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }
    90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
    }
    } 
    

    .block-btn{
      display:block;
      width:220px;
      padding:10px;
      margin:40px;
      font-size: 20px;
    }
    
    .block-btn:hover{
      opacity: 50%;
      cursor: pointer;
    }
    
    
    .die{
      font-size: 70px;
    }
    
    .rolling {
      /* Start the shake animation and make the animation last for 0.5 seconds */
      animation: wobble 0.5s;
    }
    
    .wobble {
      -webkit-animation-name: wobble;
      animation-name: wobble;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes wobble {
      0% {
      -webkit-transform: none;
      transform: none;
      }
      15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      }
      30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      }
      45% {
      -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      }
      60% {
      -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      }
      75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      }
      100% {
      -webkit-transform: none;
      transform: none;
      }
      }
      @keyframes wobble {
      0% {
      -webkit-transform: none;
      transform: none;
      }
      15% {
      -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      }
      30% {
      -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      }
      45% {
      -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      }
      60% {
      -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      }
      75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      }
      100% {
      -webkit-transform: none;
      transform: none;
      }
      } 
    
    
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }